body,
html {
  height: 100%;
  margin: 0;
  font-size: 14px;
  /* font-family: "lato", sans-serif; */
  font-weight: 400;
  line-height: 1.6em;
  color: #666;
  background-color: #fff;
  /* font-family: "Merienda", cursive; */
}
i {
  color: #007bff;
}

.head-add {
  color: red;
  font-size: 1.2em;
}
/* remove any margin from Container-fluid */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/* ############################################*/
.about p {
  font-size: 1.25em;
  padding: 1em;
  font-family: "Merienda";
  line-height: 1.8em;
}
#subcol span {
  font-size: 1.1em;
}

blockquote {
  padding: 1.5em 6em 0 6em;
  font-family: "Courgette", cursive;
  font-size: 1.2em;
}
.section-heading,
#subcol span {
  font-family: "Merienda";
}
#contact p {
  font-family: "Merienda";
}
#contact p {
  font-family: "Courgette", cursive;
  font-size: 1.2em;
}
/* ############################################*/
#maplocation {
  height: 25em;
  opacity: 0.9;
  /* position: absolute; */
}
#filter {
  height: 20em;
  width: 100%;
  position: absolute;
  background-color: rgb(184, 165, 58);
  z-index: 100;
  opacity: 0.2;
}
/* ############################################*/
#eachrow {
  margin-top: 2em;
  margin-bottom: 2em;
}
#eachcol {
  margin-bottom: 0em;
}
#subrow {
  height: 18em;
}
#subcol {
}
#bottom i {
  padding: 0.4em;
}

.scroll-arrow {
  color: rgb(15, 59, 88);
  opacity: 0;
  right: 1%;
  bottom: 0%;
  padding: 1em;
  position: fixed;
  z-index: 1000;
}

#bottom {
  margin-top: 1em;
  background: #f3e2db;
  padding: 3em 3em;
}
.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}
#maplocation {
  width: 20em;
  height: 20em;
}
.linkedin {
  background: #007bb5;
  color: white;
}

.shadow {
  filter: drop-shadow(5px 10px 10px rgb(175, 40, 40));
}
#line {
  width: 25em;
  height: auto;
}
/* ############################################*/
.services-img {
  width: 70%;
  border-radius: 2em;
}
#deals {
  margin-top: 5em;
}
#location {
  margin-top: 3em;
}
.test-line {
  width: 20em;
  height: auto;
  margin: 2em;
}
.gold-line {
  width: 15em;
  height: auto;
}
.service-line {
  width: 15em;
  height: auto;
  margin: 1em 0 1em 0;
}
#leaves {
  width: 10em;
  position: absolute;
  left: 2em;
  z-index: 100;
}
.pinkrose {
  width: 10em;
  height: auto;
  position: absolute;
  margin-top: 2em;
  right: 0.2em;
  z-index: 0;
}
/* ############################################*/
@media (max-width: 992px) {
  #line {
    width: 12em;
  }
  #leaves {
    width: 12em;
    height: auto;
    margin-top: 2em;
  }
  .services-img {
    width: 68%;
    border-radius: 2em;
  }
  #pinkrose {
    margin-top: 0em;
    z-index: -1;
  }
  #eachrow {
    margin-top: 2em;
  }
  #eachcol {
    margin: 1em;
  }
  #subrow {
  }
  #subcol {
    margin-top: 1em;
  }
  #subcol {
  }
}
@media (max-width: 768px) {
  #line {
    width: 12em;
  }
  #leaves {
    width: 12em;
    height: auto;
    margin-top: 2em;
  }
  .services-img {
    width: 60%;
    border-radius: 2em;
  }
  #pinkrose {
    margin-top: 0em;
    z-index: -1;
  }
  #eachrow {
    margin-top: 2em;
  }
  #eachcol {
    margin: 1em;
  }
  #subrow {
  }
  #subcol {
    margin-top: 1em;
  }
  #subcol {
  }
}
@media (max-width: 575px) {
  .services-img {
    width: 35%;
    border-radius: 2.5em;
  }
  #eachrow {
    margin-top: 2.5em;
  }
  #eachcol {
    margin: 1.5em;
  }
  #subrow {
  }
  #subcol {
    margin-top: 1.5em;
  }
  #subcol {
  }
}
@media (max-width: 450px) {
  .test-line {
    width: 17em;
    margin-top: 2.7em;
  }
  blockquote {
    padding: 1.5em 3em 0 3em;
  }
}
@media (max-width: 320px) {
  .test-line {
    width: 15em;
    margin-top: 2.7em;
  }
  blockquote {
    padding: 1.5em 2em 0 2em;
  }
  .services-img {
    width: 25%;
    border-radius: 2.5em;
  }
  #eachrow {
    margin-top: 2.5em;
  }
  #eachcol {
    margin: 1.5em;
  }
  #subrow {
  }
  #subcol {
    margin-top: 1.5em;
  }
  #subcol {
  }
}
@media (max-width: 286px) {
  .test-line {
    width: 10em;
  }
  blockquote {
    padding: 1.5em 2em 0 2em;
  }
  .services-img {
    width: 15%;
    border-radius: 2.5em;
  }
  #eachrow {
    margin-top: 2.5em;
  }
  #eachcol {
    margin: 1.5em;
  }
  #subrow {
  }
  #subcol {
    margin-top: 1em;
    margin-bottom: 0em;
  }
}
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
